@font-face {
  font-family: "Bitcount Single Ink";
  src:
    local("Bitcount Single Ink"),
    url("./assets/fonts/BitcountSingleInk.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitcount Single Ink", sans-serif;
    text-transform: uppercase;
    color: aqua;
}

header {
    position: absolute;
    top: 0; left: 0;
    padding: 2vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10; /* 👈 header arriba del canvas */
}

.title {
    position: relative;
    text-align: right;
    font-size: 4vh;
    font-weight: lighter;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
}

footer {
    position: absolute;
    bottom: 0; left: 0;
    width: 100%;
    mix-blend-mode: luminosity;
    z-index: 10; /* 👈 footer arriba del canvas */
}

.subtitle {
    position: relative;
    padding: 2vh 0 0 2vh;
    font-size: 14vh;
}

#centroLogo {
    position: absolute;
    bottom: 5vh;

    right: 2.2vh;
    width: 10vh;
}


/* Botones visibles */
button {
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    margin: 10px;
    border-radius: 8px;
    position: relative;
    z-index: 10; 
    background-size: cover;

}


.materialSwitch {
    background-color: orange;
}

.matrialSwitch {
    background-color: limegreen;
}

#pointsButton {
    background-image: url('./assets/texturas/puntos/preview.jpg');
}
#metalButton {
    background-image: url('./assets/texturas/metal/preview.jpg');
}

#lienzo {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ff004c;
    z-index: -1; /* canvas al fondo de todo */
}